[Unit]
Description=Noisetorch Noise Cancelling
Requires=sys-devices-pci0000:00-0000:00:01.2-0000:02:00.0-0000:03:08.0-0000:08:00.3-usb3-3\x2d6-3\x2d6.3-3\x2d6.3:1.0-sound-card2-controlC2.device
After=sys-devices-pci0000:00-0000:00:01.2-0000:02:00.0-0000:03:08.0-0000:08:00.3-usb3-3\x2d6-3\x2d6.3-3\x2d6.3:1.0-sound-card2-controlC2.device
After=pipewire.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=%h/.local/bin/noisetorch -i -s alsa_input.usb-Blue_Microphones_Yeti_Stereo_Microphone_797_2019_03_02_42333-00.pro-input-0 -t 95
ExecStop=%h/.local/bin/noisetorch -u
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
