[Unit]
Description=Noisetorch Noise Cancelling
After=sound.target
After=pipewire.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=%h/.local/bin/noisetorch -i -s source_ec -t 95
ExecStop=%h/.local/bin/noisetorch -u
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
